In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/the-movies-dataset/ratings.csv
/kaggle/input/the-movies-dataset/links_small.csv
/kaggle/input/the-movies-dataset/credits.csv
/kaggle/input/the-movies-dataset/keywords.csv
/kaggle/input/the-movies-dataset/movies_metadata.csv
/kaggle/input/the-movies-dataset/ratings_small.csv
/kaggle/input/the-movies-dataset/links.csv

## 1.IMPORTING DATA

In [2]:
import pandas as pd 
import numpy as np

In [4]:
meta = pd.read_csv('/kaggle/input/the-movies-dataset/movies_metadata.csv')

/tmp/ipykernel_32/2350043712.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  meta = pd.read_csv('/kaggle/input/the-movies-dataset/movies_metadata.csv')

In [5]:
meta['release_date'] = pd.to_datetime(meta['release_date'], errors='coerce')
meta['year'] = meta['release_date'].dt.year
meta['year'].value_counts().sort_index()

year
1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: count, Length: 135, dtype: int64

In [6]:
new_meta = meta.loc[meta.year <= 2017,['genres','id','title','year']]
new_meta

,genres,id,title,year
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,1995.0
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji,1995.0
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men,1995.0
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale,1995.0
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,1995.0
...,...,...,...,...
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,Robin Hood,1991.0
45462,"[{'id': 18, 'name': 'Drama'}]",111109,Century of Birthing,2011.0
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,Betrayal,2003.0
45464,[],227506,Satan Triumphant,1917.0
45465,[],461257,Queerama,2017.0

## 2.CLEANING DATA

In [13]:
print(meta.shape)

(45466, 25)

In [14]:
meta.info

<bound method DataFrame.info of        adult                              belongs_to_collection    budget  \
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1      False                                                NaN  65000000
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3      False                                                NaN  16000000
4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
...      ...                                                ...       ...
45461  False                                                NaN         0
45462  False                                                NaN         0
45463  False                                                NaN         0
45464  False                                                NaN         0
45465  False                                                NaN         0

                                                  genres  \
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                         [{'id': 35, 'name': 'Comedy'}]
...                                                  ...
45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                      [{'id': 18, 'name': 'Drama'}]
45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                 []
45465                                                 []

                                   homepage      id    imdb_id  \
0      http://toystory.disney.com/toy-story     862  tt0114709
1                                       NaN    8844  tt0113497
2                                       NaN   15602  tt0113228
3                                       NaN   31357  tt0114885
4                                       NaN   11862  tt0113041
...                                     ...     ...        ...
45461  http://www.imdb.com/title/tt6209470/  439050  tt6209470
45462                                   NaN  111109  tt2028550
45463                                   NaN   67758  tt0303758
45464                                   NaN  227506  tt0008536
45465                                   NaN  461257  tt6980792

      original_language               original_title  \
0                    en                    Toy Story
1                    en                      Jumanji
2                    en             Grumpier Old Men
3                    en            Waiting to Exhale
4                    en  Father of the Bride Part II
...                 ...                          ...
45461                fa                      رگ خواب
45462                tl          Siglo ng Pagluluwal
45463                en                     Betrayal
45464                en          Satana likuyushchiy
45465                en                     Queerama

                                                overview  ...      revenue  \
0      Led by Woody, Andy's toys live happily in his ...  ...  373554033.0
1      When siblings Judy and Peter discover an encha...  ...  262797249.0
2      A family wedding reignites the ancient feud be...  ...          0.0
3      Cheated on, mistreated and stepped on, the wom...  ...   81452156.0
4      Just when George Banks has recovered from his ...  ...   76578911.0
...                                                  ...  ...          ...
45461        Rising and falling between a man and woman.  ...          0.0
45462  An artist struggles to finish his work while a...  ...          0.0
45463  When one of her hits goes wrong, a professiona...  ...          0.0
45464  In a small town live two brothers, one a minis...  ...          0.0
45465  50 years after decriminalisation of homosexual...  ...          0.0

      runtime                                   spoken_languages    status  \
0        81.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
1       104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
2       101.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
3       127.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
4       106.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
...       ...                                                ...       ...
45461    90.0             [{'iso_639_1': 'fa', 'name': 'فارسی'}]  Released
45462   360.0                  [{'iso_639_1': 'tl', 'name': ''}]  Released
45463    90.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
45464    87.0                                                 []  Released
45465    75.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                                 tagline  \
0                                                    NaN
1              Roll the dice and unleash the excitement!
2      Still Yelling. Still Fighting. Still Ready for...
3      Friends are the people who let you be yourself...
4      Just When His World Is Back To Normal... He's ...
...                                                  ...
45461         Rising and falling between a man and woman
45462                                                NaN
45463                             A deadly game of wits.
45464                                                NaN
45465                                                NaN

                             title  video vote_average vote_count    year
0                        Toy Story  False          7.7     5415.0  1995.0
1                          Jumanji  False          6.9     2413.0  1995.0
2                 Grumpier Old Men  False          6.5       92.0  1995.0
3                Waiting to Exhale  False          6.1       34.0  1995.0
4      Father of the Bride Part II  False          5.7      173.0  1995.0
...                            ...    ...          ...        ...     ...
45461                       Subdue  False          4.0        1.0     NaN
45462          Century of Birthing  False          9.0        3.0  2011.0
45463                     Betrayal  False          3.8        6.0  2003.0
45464             Satan Triumphant  False          0.0        0.0  1917.0
45465                     Queerama  False          0.0        0.0  2017.0

[45466 rows x 25 columns]>

In [15]:
meta.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                90
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
year                        90
dtype: int64

In [16]:
meta.duplicated().sum()

13

In [17]:
meta.title.duplicated().sum()

3188

In [18]:
meta[["title", "release_date"]].duplicated().sum()

35

In [20]:
df=meta

In [21]:
df.drop_duplicates(subset=["title","release_date"], inplace=True)
df = df[df.vote_count >= 350].reset_index()
df.isnull().sum()

index                       0
adult                       0
belongs_to_collection    1848
budget                      0
genres                      0
homepage                 1373
id                          0
imdb_id                     0
original_language           0
original_title              0
overview                    0
popularity                  0
poster_path                 0
production_companies        0
production_countries        0
release_date                0
revenue                     0
runtime                     0
spoken_languages            0
status                      0
tagline                   154
title                       0
video                       0
vote_average                0
vote_count                  0
year                        0
dtype: int64

In [22]:
df.fillna("", inplace = True)

In [23]:
index = df[(df.popularity == "") & (df.overview == "")].index
df.drop(index, inplace=True)

## 3.ANALYSING DATA

In [24]:
print(data.shape)

(45476, 3)

In [25]:
data.info

<bound method DataFrame.info of                                                     cast  \
0      [{'cast_id': 14, 'character': 'Woody (voice)',...
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...
4      [{'cast_id': 1, 'character': 'George Banks', '...
...                                                  ...
45471  [{'cast_id': 0, 'character': '', 'credit_id': ...
45472  [{'cast_id': 1002, 'character': 'Sister Angela...
45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
45474  [{'cast_id': 2, 'character': '', 'credit_id': ...
45475                                                 []

                                                    crew      id
0      [{'credit_id': '52fe4284c3a36847f8024f49', 'de...     862
1      [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...    8844
2      [{'credit_id': '52fe466a9251416c75077a89', 'de...   15602
3      [{'credit_id': '52fe44779251416c91011acb', 'de...   31357
4      [{'credit_id': '52fe44959251416c75039ed7', 'de...   11862
...                                                  ...     ...
45471  [{'credit_id': '5894a97d925141426c00818c', 'de...  439050
45472  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...  111109
45473  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...   67758
45474  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...  227506
45475  [{'credit_id': '593e676c92514105b702e68e', 'de...  461257

[45476 rows x 3 columns]>

In [26]:
new_df = df[[ "title", "popularity", "id"]]

In [27]:
new_df.title = new_df.title.apply(lambda x:x.lower())
new_df.head()

/tmp/ipykernel_32/3281198832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.title = new_df.title.apply(lambda x:x.lower())

       title popularity     id
0  toy story  21.946943    862
1    jumanji  17.015539   8844
2       heat  17.924927    949
3  goldeneye  14.686036    710
4      balto  12.140733  21032

In [28]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [29]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [30]:
new_df["title"] = new_df["title"].apply(stem)

/tmp/ipykernel_32/2577964674.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["title"] = new_df["title"].apply(stem)

In [31]:
index = df[(df.popularity == "") & (df.overview == "")].index
df.drop(index, inplace=True)

In [32]:
indices = pd.Series(df.index, index=df['title'])

indices.index.value_counts()

title
Beauty and the Beast           3
The Jungle Book                2
Dawn of the Dead               2
RoboCop                        2
Oldboy                         2
                              ..
Runaway Jury                   1
The Texas Chainsaw Massacre    1
Scary Movie 3                  1
Brother Bear                   1
Girls Trip                     1
Name: count, Length: 2674, dtype: int64

In [33]:
indices = indices[~indices.index.duplicated(keep='last')]

indices["Cinderella"]

2376

## 4.DATA UNDERSTANDING

In [54]:
def check_df(dataframe, head=5):
    print(" SHAPE ".center(70,'-'))
    print('Rows: {}'.format(dataframe.shape[0]))
    print('Columns: {}'.format(dataframe.shape[1]))
    print(" TYPES ".center(70,'-'))
    print(dataframe.dtypes)
    print(" MISSING VALUES ".center(70,'-'))
    print(dataframe.isnull().sum())
    print(" DUPLICATED VALUES ".center(70,'-'))
    print(dataframe.duplicated().sum())
    print(" DESCRIBE ".center(70,'-'))
    print(dataframe.describe().T)
    
check_df(df)

------------------------------- SHAPE --------------------------------
Rows: 2710
Columns: 26
------------------------------- TYPES --------------------------------
index                             int64
adult                            object
belongs_to_collection            object
budget                           object
genres                           object
homepage                         object
id                               object
imdb_id                          object
original_language                object
original_title                   object
overview                         object
popularity                       object
poster_path                      object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                         float64
runtime                         float64
spoken_languages                 object
status                           object
tagline                          object
title                            object
video                              bool
vote_average                    float64
vote_count                      float64
year                            float64
dtype: object
--------------------------- MISSING VALUES ---------------------------
index                    0
adult                    0
belongs_to_collection    0
budget                   0
genres                   0
homepage                 0
id                       0
imdb_id                  0
original_language        0
original_title           0
overview                 0
popularity               0
poster_path              0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
video                    0
vote_average             0
vote_count               0
year                     0
dtype: int64
------------------------- DUPLICATED VALUES --------------------------
0
------------------------------ DESCRIBE ------------------------------
               count                           mean                  min                  25%                  50%                  75%                  max               std
index         2710.0                   14047.771218                  0.0              3889.25              12279.0             20782.75              45204.0      11235.844132
release_date    2710  2004-02-11 14:23:59.999999872  1921-01-21 00:00:00  1999-10-20 12:00:00  2007-11-17 12:00:00  2013-03-07 18:00:00  2017-08-18 00:00:00               NaN
revenue       2710.0               155175139.123616                  0.0          26566917.75           86378836.0          193668328.0         2787965087.0  212493191.542318
runtime       2710.0                     111.069004                  3.0                 97.0                108.0                122.0                705.0          24.16594
vote_average  2710.0                       6.578192                  2.9                  6.0                  6.6                  7.2                  9.1          0.792429
vote_count    2710.0                    1390.001845                350.0                508.0                830.0               1595.0              14075.0       1503.974549
year          2710.0                    2003.571218               1921.0               1999.0               2007.0               2013.0               2017.0         13.221454

In [55]:
df["overview"].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    Obsessive master thief, Neil McCauley leads a ...
3    James Bond must unmask the mysterious head of ...
4    An outcast half-wolf risks his life to prevent...
Name: overview, dtype: object

In [57]:
tfidf = TfidfVectorizer(stop_words="english")

df['overview'] = df['overview'].fillna('')
df['overview'].isnull().sum()

0

In [58]:
tfidf_matrix = tfidf.fit_transform(df['overview'])
tfidf_matrix.shape

(2710, 15005)

In [59]:
tfidf_matrix.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

## 5.Cosine Smilarity matrix

In [60]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

cosine_sim.shape

(2710, 2710)

In [61]:
cosine_sim[1]

array([0.01878207, 1.        , 0.05166867, ..., 0.        , 0.01141582,
       0.        ])

In [62]:
indices = pd.Series(df.index, index=df['title'])

indices.index.value_counts()

title
Beauty and the Beast           3
The Jungle Book                2
Dawn of the Dead               2
RoboCop                        2
Oldboy                         2
                              ..
Runaway Jury                   1
The Texas Chainsaw Massacre    1
Scary Movie 3                  1
Brother Bear                   1
Girls Trip                     1
Name: count, Length: 2674, dtype: int64

## 6.RECOMMENDATION BASED ON SIMILARITIES

In [63]:
indices = indices[~indices.index.duplicated(keep='last')]

indices["Cinderella"]

2376

In [64]:
movie_index = indices['Sherlock Holmes']

similarity_scores = pd.DataFrame(cosine_sim[movie_index],
                                 columns=["score"])

similarity_scores

         score
0     0.000000
1     0.000000
2     0.029562
3     0.000000
4     0.043574
...        ...
2705  0.021469
2706  0.000000
2707  0.000000
2708  0.039794
2709  0.015642

[2710 rows x 1 columns]

In [65]:
movie_indices = similarity_scores.sort_values("score", ascending=False)[1:11].index

df['title'].iloc[movie_indices]

2425                            Mr. Holmes
2634                               Inferno
1851    Sherlock Holmes: A Game of Shadows
148                     The Maltese Falcon
1190                        The Lake House
93               Robin Hood: Men in Tights
2198                        Brick Mansions
2334                    Terminator Genisys
34              Die Hard: With a Vengeance
2605                 The Edge of Seventeen
Name: title, dtype: object

In [66]:
def content_based_recommender(title, cosine_sim, dataframe):

    indices = pd.Series(dataframe.index, index=dataframe['title'])
    indices = indices[~indices.index.duplicated(keep='last')]
    
    movie_index = indices[title]
   
    similarity_scores = pd.DataFrame(cosine_sim[movie_index], columns=["score"])
    
    movie_indices = similarity_scores.sort_values("score", ascending=False)[1:11].index
    return dataframe['title'].iloc[movie_indices]

content_based_recommender("Sherlock Holmes", cosine_sim, df)

2425                            Mr. Holmes
2634                               Inferno
1851    Sherlock Holmes: A Game of Shadows
148                     The Maltese Falcon
1190                        The Lake House
93               Robin Hood: Men in Tights
2198                        Brick Mansions
2334                    Terminator Genisys
34              Die Hard: With a Vengeance
2605                 The Edge of Seventeen
Name: title, dtype: object

In [67]:
content_based_recommender("The Matrix", cosine_sim, df)

35                     Hackers
2265                  Who Am I
894                   Commando
1046             The Animatrix
1573                    Avatar
2193             Transcendence
2168          The Zero Theorem
1371    Step Up 2: The Streets
1297     Live Free or Die Hard
2410         The Green Inferno
Name: title, dtype: object

In [68]:
content_based_recommender("The Godfather", cosine_sim, df)

212      The Godfather: Part II
2648              Live by Night
390     The Godfather: Part III
1958                   Sinister
803           Road to Perdition
1296         Death at a Funeral
407           The Addams Family
2340                    Ben-Hur
787                    Rashomon
2640                       Lion
Name: title, dtype: object

In [49]:
def calculate_cosine_sim(dataframe):
    tfidf = TfidfVectorizer(stop_words='english')
    dataframe['overview'] = dataframe['overview'].fillna('')
    tfidf_matrix = tfidf.fit_transform(dataframe['overview'])
    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
    return cosine_sim